<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/svg/891/891462.svg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <a class="badge badge-dark" href="/" role="button">Inicio</a>
    <a class="badge badge-dark" href="/Login.html" role="button">Login</a>
    <a class="badge badge-dark" href="/Carrito.html" role="button" th:text="${item}"></a>
    <a class="badge badge-dark" href="/ListCompras.html" role="button" th:text="${admin}"></a>
    <a class="badge badge-dark" href="/Gestor.html" role="button" th:text="${adminProduct}"></a>
    <a class="badge badge-dark" href="/LoginOUT" role="button" th:text="${OUT}"></a>
    <h2 class="text-center">Productos Vendidos</h2>
    <div class="container">
        <table class="table table-bordered" th:each="tabla : ${ventasProductos}">
            <thead class="thead-dark">
            <tr>
                <th class="align-middle" scope="row" colspan="2" th:text="${tabla.nombreCliente}">Manolo</th>
                <th class="align-middle" scope="row" colspan="2" th:text="${tabla.fechaCompra}">14/06/2020</th>

            </tr>
            </thead>
            <tbody>
            <th class="align-middle"; scope="col">Nombre del Producto</th>
            <th class="align-middle"; scope="col">Precio ($RD)</th>
            <th class="align-middle"; scope="col">Cantidad</th>
            <th class="align-middle"; scope="col">Total ($RD)</th>

            <tr th:each="Producto : ${tabla.listaProductos}">
                <td class="align-middle"; th:text="${Producto.nombre}">TEST</td>
                <td class="align-middle"; th:text="${Producto.precio}">1000</td>
                <td class="align-middle";>1</td>
                <td class="align-middle"; th:text="${Producto.precio}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>